.formulario {
    /* background-color: aquamarine; */
    font-size: 2rem;
    padding: 10px;
    margin: 10px;
    text-align: center;
    margin: 20px auto;
}


.formulario input[type="text"] {
  width: 70%;
  padding: 8px;
  margin: 20px;
}

.formulario input[type="submit"] {
  padding: 8px;
  
}