.header {
    background-color: rgb(0, 0, 0);
    height: 75px;
    display: flex;
    justify-content: center; /* centra horizontalmente */
    align-items: center;     /* centra verticalmente */
    height: 100px;  
}
.header>p {
    color: aliceblue;
    font-size: 2.5rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}